<div class="translation">
  <h3>Google批量翻译</h3>
  <div class="translate-content">
    <% if params[:q].present? %>
      <% params[:q].split("✚").each do |q| %>
        <textarea rows="5" cols="50" placeholder="请输入需要翻译的内容"><%= q %></textarea>
      <% end %>
    <% else %>
      <textarea rows="5" cols="50" placeholder="请输入需要翻译的内容"></textarea>
    <% end %>
  </div>
  <div style="margin-bottom: 50px;">
    <button onclick="addTranslate()">新增内容</button>
  </div>
  <select id="tta_tgtsl" style="width: 113px;" aria-label="输出语言选择下拉菜单">
    <% @languages.each do |language| %>
      <%
        selected = ""
        if language[:value] == params[:tl]
          selected = "selected"
        else
          if language[:value] == 'en'
            selected = "selected"
          end
        end
      %>
      <option value="<%=language[:value] %>" <%=selected %>><%=language[:name] %></option>
      <%  %>
    <% end %>
  </select>
  <input name="Query" type="button" value="翻译" onclick="trans_late();">

  <% if @results.present? %>
    <h3>翻译的结果为：</h3>
    <% @results.each_with_index do |result, index| %>
      <p class="notice">第<%= index+1 %>次    <%= result %></p><br/>
    <% end %>
  <% end %>

  <p>
    <%= link_to '百度翻译', new_translate_path %>
    <%= link_to '返回', me_demos_path %>
    <%= link_to '刷新', translates_path %>
  </p>
</div>
<script type="text/javascript">
    function trans_late() {
        let translateContents = [];
        let tta = document.getElementsByTagName('textarea')
        for (var i = 0; i < tta.length; i++) {
            if (tta[i].value) {
                translateContents.push(tta[i].value);
            }
        }
        // |, ||, ↵,0(ko), ↓，→，↕，ϟ，Φ
        window.location.href = "/translates/get_translate?q=" + translateContents.join("✚") + "&tl=" + document.getElementById('tta_tgtsl').value;
    }

    function addTranslate() {
        $(".translate-content").append('<textarea rows="5" cols="50" placeholder="请输入需要翻译的内容"></textarea>')
    }
</script>

<style>
  textarea {
    margin-left: 5px;
  }
</style>